.body {
  padding: 0 !important;
}

.imageColumn {
  display: flex;
  justify-content: center;
  height: var(--image-height);
  line-height: var(--image-height);
  text-align: center;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.swatchColumn {
  max-height: var(--swatch-height);
  overflow-y: auto;
}

.stripe {
  height: var(--stripe-height);
  line-height: var(--stripe-height);
  color: var(--stripe-color);
  font-size: var(--ant-font-size);
  font-weight: bold;
  text-align: center;
  background-color: var(--stripe-bg);
}
