.body {
  padding: 0 !important;
}

.imageColumn {
  display: flex;
  justify-content: center;
  height: var(--image-height);
  line-height: var(--image-height);
  text-align: center;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swatchColumn {
  display: flex !important;
  flex-direction: column;
  justify-content: safe center;
  height: var(--swatch-height);
  overflow-y: auto;
}

.stripe {
  flex: none;
  height: var(--ant-control-height);
  line-height: var(--ant-control-height);
  color: var(--stripe-color);
  font-size: var(--ant-font-size);
  font-weight: bold;
  text-align: center;
  background-color: var(--stripe-bg);
}

@media print {
  .swatchColumn {
    height: auto;
    min-height: var(--swatch-height);
    overflow-y: visible;
  }

  .stripe {
    break-inside: avoid;
  }
}
