.colorsFormItem {
  margin-bottom: 0 !important;
  padding: 0 var(--ant-padding);
}

.cascader {
  flex-grow: 1;
}

.previews {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.previewCanvas {
  display: block;
  width: 100%;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

@media (min-width: 576px) {
  .previews {
    flex-direction: row;
  }
}
