.modelSelect {
  width: 120px !important;
}

.compareSlider {
  width: 100%;
}

.compareImage {
  max-width: 100%;
  max-height: calc(100dvh - 145px);
}

.whiteBackground {
  background-color: #fff;
}
