.root {
  position: relative;
}

.content {
  position: relative;
  transition: opacity var(--ant-motion-duration-slow);
}

.dimmed {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.dimmed .dimmed {
  opacity: 1;
}

.dimmed .overlay {
  display: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.indicator {
  position: sticky !important;
  top: 0;
  display: flex !important;
  height: 100dvh;
  max-height: 100%;
  justify-content: center;
}
