.image {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.content {
  padding: var(--ant-padding);
}

.text {
  margin-bottom: var(--ant-margin);
  text-align: justify;
}
