.watermark {
  position: fixed;
  top: 54px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  padding: 0 4px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 1px;
}

.tabs :global(.ant-tabs-nav .ant-tabs-tab) {
  padding: var(--ant-padding) !important;
}

.stickyTabBar {
  z-index: 10;
}

.tabBar {
  background: var(--ant-color-bg-container) !important;
}

.fullscreenButton {
  inset-inline-end: 24px !important;
  bottom: 24px !important;
}
