html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
}

body {
  overscroll-behavior: contain;
}

canvas {
  display: block;
}

svg.color-icon {
  vertical-align: middle;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 16px !important;
}

.ant-card .ant-card-head {
  padding-left: 0;
}

.ant-card .ant-card-head-title {
  padding-left: 24px;
}

.ant-card .ant-card-head .ant-typography-edit-content {
  margin: 0;
}
