@import 'npm:@fontsource/kalam/400.css';
@import 'npm:@fontsource/kalam/700.css';

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
}

body {
  overscroll-behavior: contain;
}

canvas {
  display: block;
}

svg.color-icon {
  vertical-align: middle;
}

div.color-swatch {
  height: calc((100vh - 56px) / 10);
  line-height: calc((100vh - 56px) / 10);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 16px !important;
}

.ant-card .ant-card-head {
  padding-left: 0;
}

.ant-card .ant-card-head-title {
  padding-left: 24px;
}

.ant-card .ant-card-head .ant-typography-edit-content {
  margin: 0;
}
