.root {
  width: 100%;
}

.image {
  display: block;
}

.name {
  text-align: center;
  font-family: Kalam, cursive;
  font-size: var(--ant-font-size-heading-1);
  font-weight: bold;
  line-height: 1em;
}

.tagline {
  text-align: center;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-size: var(--ant-font-size-heading-4);
  line-height: 1em;
  color: #945382;
}

.artist {
  color: #656b89;
}

.assist {
  color: #7b6085;
}

.app {
  color: #895983;
}
